/*
cor preta #1f1f20

cor azul #2b4c7e

cor azul clara #567ebb

cor cinza #606d80

cor cinza claro #dce0e6
*/
* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #325981;
   
}


/*no ul estou dando comandos */
ul {
    padding: 20px;
    display: flex;
    /*estou deixando minha ul flexivel para que possa trabalhar nela */
    gap: 100px;
    /*estou dando um espaço entre minha ul */
    justify-content: center;
    /*estou justificando minha li ao centro*/
    list-style: none;
    /*esse metedo esta tirando uma marcação que vem na li*/
}

ul li a {
    text-decoration: none;
    /*esse metodo esta tirando uma limha que vem na li */
    font-size: 20px;
    /*esse metodo esta dando um tamanho para minha li*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*esse metodo esta dando uma escrita diferente a minha li*/
    color: gray;
    /*esse metodo esta dando uma cor a minha li*/
}

a:hover {
    color: aqua;
}

h1 {
    text-align: center;
    margin-left: 55px;
}

section {
    background-color: #1f1f20;
    padding: 7px;
  
}

.conteiner {
    display: flex;
    text-align: center;
}


img{
    width: 17%;
    margin: 40px;
    border-radius:800px;
    margin-left: 100px;
}



.texto {
    width: 550px;
    height: 355px;
    margin: 50px;
    margin-right: 70px;
    color: #dce0e6;
    font-size: 29px;
   
}
.T1{
   color: rgb(255, 123, 0); 
}
.T2{
   color: blue; 
}
.T3{
   color: yellow; 
}
span{
    color: rgb(64, 129, 202);
    font-size: 30px;
}